<html lang="de">

  <head>
    <title>ToDoList App</title>

    <link href="\styles\index.css" type="text/css" rel="stylesheet" />

  </head>

  <body>

    <h1>ToDoList Form  {{tasks}} </h1>

    <form  id="taskForm" action="/api/" method="post">
      <label for="title">Title: </label>
      <input
        type="text"
        id="title"
        class="wide_input"
        name="title"
        placeholder="Enter Title..."
        required
      />

      <label for="important">Importance: </label>
      <input
        type="number"
        id="important"
        class="wide_input"
        name="important"
        placeholder=""
        required
      />

      <label for="duedate">Due Date</label>
      <input type="date" id="duedate" name="duedate" class="wide_input" required />
      <br />
       
      <input type="checkbox" id="completed" name="completed" value="HTML" />
       
      <label for="completed">Finished</label>
      <br />


      <label for="description">Description</label>
      <textarea id="description" name="description" class="wide_input" rows="6" required></textarea>
      <br />

      
      <input class="main_button" id="create" type="submit" value="Create " />
      <input class="main_button" id="create_overview" type="submit" value="Create & Overview" />
      <input class="main_button" id="overview" type="submit" value="Overview" />
    </form>

    <script src="scripts/index.js"></script>
  </body>

</html>